* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #101010;
	font-family: gilroy;
	color: #FCFCFC;
}

@font-face {
	font-family: gilroy;
	src: url(fonts/Gilroy-Regular.ttf);
}

@font-face {
	font-family: heavitas;
    src: url(fonts/Heavitas.ttf);
}

span {
	color: #FE8F01;
}

.aboutus, .features, .howitworks, .downloadourapp, .faq{
	padding-top: 158px;
}

footer{
	background-image: url(assets/images/footer-bg.png);
	background-position: center top;
	background-repeat:round;
	background-size: cover;
	padding-bottom: 30px;
}


/*NAVBAR STYLES*/

.nav-item a {
	color: #FCFCFC;
}

.nav-item a:hover {
	color: #FE8F01;
}

#contact-btn button {
	margin-right: 20px;
	padding: 11px 25px;
	background-color: #FE8F01;
	color: #FCFCFC;
	border-radius: 25px;
	box-shadow: 0px 0px 5px 0px #FE8F01;
	font-weight: 700;
	transition: 0.3s;
	border: none;
}

#contact-btn button:hover {
	color: #FCFCFC;
	box-shadow: 0px 0px 10px 0px #FE8F01;
}

.navbar-brand img {
	margin-left: 20px;
	height: auto;
	width: 195px;
}

.nav-item-spacing {
    margin-right: 15px; 
}

.nav-item-spacing:last-child {
    margin-right: 0;
}

/*BANNER STYLES*/

.banner{
	background-image:url(assets/images/bg-img2.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.banner-heading {
	font-family: heavitas;
	width: 100%;
}
/*ABOUT-US STYLES*/
.about-us-subheading, .about-us-para {
	color: #98A2B3;
}

.aboutus-btn a {
	font-family: Gilroy;
	font-size: 14px;
	font-weight: 800;
	text-decoration: none;
	color: white;
	cursor: pointer;
	background-color: #FE8F01;
	padding: 17px 40px;
	border-radius: 50px;
	box-shadow: 0px 0px 15px 0px #FE8F01;
}
/*FEATURES STYLES*/

.features-subheading, .features-para {
	color: #98A2B3;
}

.bullet img {
	height: 25px;
	width: auto;
}

.bullet p {
	color: #98A2B3;
}

/* HOW-IT-WORKS (TAB STYLES) */
/* custom.css */
.custom-tabs {
    border: 1px solid #FE8F01;
    width: 30%;
    margin: 0 auto;
    border-radius: 50px;
}

.custom-tabs .nav-link {
    padding: 15px;
    margin-top:5px ;
    margin-bottom: 5px;
    border: none;
    width: 90%; /* Remove underline from tab links */
    border-radius: 50px; /* Make tabs pill-shaped */
    color: #FE8F01; /* Tab text color */
}

.custom-tabs .nav-item{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 50%;
}

.custom-tabs .nav-link.active {
    background-color: #FE8F01; /* Active tab color */
    color: #FCFCFC; /* Active tab text color */
}

/*HOW-IT-WORKS (ACCORDION-STYLES*/
.howitworks-para p {
	color: #FCFCFC;
}

.accordion, .accordion-body, .accordion-button {
	border: none;
}

.accordion-body {
	background-color: #101010;
	color: #FCFCFC;
	border: none;
}

.accordion-button {
	background-color: #23190b;
	color: #FCFCFC;
	border: none;
}

#accordionHowItWorks .accordion-button:not(.collapsed) {
		background-color: #FE8F01;
		color: white;
		border: none;
}

#accordionHowItWorks .accordion-button.collapsed {
	background-color: #FE8F01;
	color: white;
}

#accordionHowItWorks .accordion-button:hover {
	background-color: #FE8F01;
	color: white;
}

#accordionHowItWorks .accordion-collapse {
	border: none;
}


/*FAQ STYLES*/
.faq-subheading {
	color: #FE8F01;
}

#accordionFAQ .accordion-button:not(.collapsed) {
	background-color: #FE8F01;
	color: white;
	font-weight: 600;
	border: none;
}

#accordionFAQ .accordion-button.collapsed {
	background-color: #101010;
	border: solid 2px #FE8F01;
	border-radius: 10px;
}

.faq-accordion .accordion-item .accordion-button {
	border-radius: 0.5rem;
}

.faq-accordion .accordion-item {
	border-radius: 0.5rem;
}

.faq-accordion .accordion-item {
	margin: 0 auto;
	width: 50%;
}

/*DOWNLOAD-APP STYLES*/
.dop-para {
	color: #98A2B3;
}
/*FOOTER STYLES*/
.footer-links {
	border-top: 2px solid #323232;
	border-bottom: 2px solid #323232;
	height: auto;
}

.footer-links a {
	color: #FCFCFC;
	text-decoration: none;
}

footer p {
	color: #98A2B3;
}

.TAC a {
	color: #98A2B3;
}

@media (min-width: 576px) {
	.faq-accordion .accordion-item {
		width: 100%;
		background-color: transparent;
	}
}

@media (min-width: 768px) {
	.faq-accordion .accordion-item {
		width: 50%;
	}
}

@media (min-width: 992px) {
	.faq-accordion .accordion-item {
		width: 50%;
	}
}