*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #101010;
    font-family: gilroy;
    color: #FCFCFC;
}

@font-face {
    font-family: gilroy;
    src: url(fonts/Gilroy-Regular.ttf);
}
@font-face {
    font-family: heavitas;
    src: url(fonts/Heavitas.ttf);
}

span{
    color: #FE8F01;
}

  


/*NAVBAR STYLES*/

.nav-item a{
    color: #FCFCFC;
}

.nav-item a:hover{
    color: #FE8F01;

}

#contact-btn button{
    background-color: #FE8F01;
    border: none;
    border-radius: 30px;
    color: #FCFCFC;
    font-weight: 600;
}

.navbar-brand img {
    margin-left: 20px;
    height: auto; /* Adjust based on your logo size */
    width: 195px;
}


/*BANNER STYLES*/
.banner-heading{
    font-family: heavitas;
    width: 100%
}
/*ABOUT-US STYLES*/
.about-us-subheading, .about-us-para{
    color: #98A2B3;
}

.aboutus-btn a{
    color: white;
    background-color: #FE8F01;
    box-shadow: #FE8F01 1px;
}
/*FEATURES STYLES*/
.features-subheading, .features-para{
    color: #98A2B3;
}

.bullet img{
    height: 25px;
    width: auto;
}

.bullet p{
    color: #98A2B3;
}
/*HOW-IT-WORKS-STYLES*/
/*FAQ STYLES*/
/*DOWNLOAD-APP STYLES*/
/*FOOTER STYLES*/


